@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;

    &__widgets {
        width: 100%;
        height: 10%;
        display: none;
        @include phone {
            display: inline-block;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.1875rem;
            font-weight: bolder;
            background-color: $orange;
            color: white;
            box-shadow: 11px 11px 62px -22px rgba(0, 0, 0, 0.18) inset;
            -webkit-box-shadow: 11px 11px 62px -22px rgba(0, 0, 0, 0.18) inset;
            -moz-box-shadow: 11px 11px 62px -22px rgba(0, 0, 0, 0.18) inset;
        }
    }

    &__banner {
        width: 50%;
        height: 50%;

        @include tablet {
            display: none;
        }
    }
    &__weather {
        width: 50%;
        height: 50%;

        @include tablet {
            width: 100%;
            height: 50%;
        }
        @include phone {
            height: 45%;
        }
    }
    &__market {
        width: 100%;
        height: 50%;
        @include phone {
            height: 45%;
        }
    }
}
