@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.container {
    width: 100%;
    height: 100%;
    background-color: $yellow;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;

    &__details {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        &__city {
            > span {
                font-size: 10rem;
                color: white;

                @include phone {
                    font-size: 6rem;
                }
            }
            > h2 {
                font-size: 1.625rem;
                color: white;
                font-weight: 900;

                @include tablet {
                    font-size: 1.625rem;
                }

                @include phone {
                    font-size: 0.75rem;
                }
            }

            > h3 {
                font-size: 1.25rem;
                color: white;
                font-weight: 900;

                @include tablet {
                    font-size: 1.25rem;
                }
                @include phone {
                    font-size: 0.75rem;
                }
            }
        }

        &__degree {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            > ul {
                display: flex;

                & :first-child {
                    color: white;
                    border-bottom: 2px solid white;
                }

                > li {
                    color: white;
                    margin-right: 1rem;
                    font-weight: 900;
                    text-transform: uppercase;
                    font-size: 0.6875rem;
                    color: $gray;
                    cursor: pointer;
                    padding: 0.25rem;
                    transition: 0.3s ease-in;

                    &:hover {
                        color: white;
                        border-bottom: 2px solid white;
                    }
                }
            }

            > h1 {
                font-size: 10.625rem;
                color: white;
                font-weight: 900;

                @include phone {
                    font-size: 6.625rem;
                }
            }
        }
    }

    &__hourly {
        width: 100%;
        > ul {
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: space-between;
            > li {
                color: white;
                font-size: 0.6875rem;
                font-weight: 900;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                > h6 {
                    font-size: 1.25rem;
                }
            }

            @include phone {
                > :last-child {
                    display: none;
                }
                > :first-child {
                    display: none;
                }
            }
        }
    }
}

.nodata {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: $yellow;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}
