@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap');

// colors
$orange: #ec5e30;
$yellow: #ffb236;
$red: #ff3636;
$green: #63da39;
$gray: #f8f8f8;
$shadow: #f5f5f5;

$lightOrange: #f9a858;
$lightGray: #f8f8f8;

// fonts
$primary_font_family: 'Montserrat', sans-serif;
