@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.container {
    display: flex;
    width: 100%;
    height: 100%;

    @include tablet {
        flex-direction: column;
    }

    &__navigation {
        box-shadow: 10px 1px 55px -30px rgba(0, 0, 0, 0.57);
        -webkit-box-shadow: 10px 1px 55px -30px rgba(0, 0, 0, 0.57);
        -moz-box-shadow: 10px 1px 55px -30px rgba(0, 0, 0, 0.57);
        width: 20%;

        @include tablet {
            box-shadow: none;
            width: 100%;
        }

        > ul {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 100%;

            @include tablet {
                flex-direction: row;
            }

            @include phone {
                flex-wrap: wrap;
            }

            > li {
                display: flex;
                justify-content: space-between;
                align-items: center;
                transition: 0.1s ease-in;
                cursor: pointer;
                border-bottom: 2px solid $gray;
                padding: 1rem;
                width: 100%;
                height: 100%;
                &:hover {
                    background-color: $gray;
                }

                &:active {
                    opacity: 60%;
                    background-color: gray;
                }

                @include tablet {
                    flex-direction: column;
                    border-right: 2px solid $gray;
                    border-bottom: none;
                }
                @include phone {
                    justify-content: space-around;
                    align-items: flex-start;
                    padding: 0 2rem;
                    width: 50%;
                    height: 140%;
                }

                > span {
                    h2 {
                        font-weight: bolder;
                        font-size: 1.25rem;
                    }
                    h4 {
                        font-weight: 900;
                        font-size: 1rem;
                    }
                }
                h1 {
                    font-weight: 900;
                    font-size: 1.875rem;

                    @include phone {
                        font-size: 3rem;
                    }
                }

                .red {
                    color: $red;
                }

                .green {
                    color: $green;
                }

                button {
                    display: none;
                    cursor: pointer;
                    border: 1px solid gray;
                    border-radius: 9999px;
                    padding: 0.5rem 1rem;
                    color: $orange;
                    font-weight: bolder;
                }

                @include phone {
                    button {
                        display: block;
                    }
                }
            }
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        padding: 1.5rem;
        width: 80%;
        height: 100%;

        @include tablet {
            width: 100%;
        }

        @include phone {
            display: none;
        }
        &__data {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            width: 100%;
            height: 40%;

            &__title {
                h3 {
                    opacity: 0.5;
                    font-weight: 900;
                    font-size: 1.875rem;
                }

                h1 {
                    font-weight: bolder;
                    font-size: 5rem;
                }

                p {
                    opacity: 0.5;
                    font-weight: bolder;
                    font-size: 0.6875rem;
                }
            }

            &__details {
                grid-gap: 1rem;
                display: grid;
                grid-template-rows: repeat(3, 1fr);
                grid-template-columns: repeat(2, 1fr);

                p {
                    color: #828282;
                    font-weight: 900;
                    font-size: 0.75rem;

                    span {
                        margin-left: 1rem;
                        color: black;
                    }
                }
            }

            > button {
                display: flex;
                align-items: center;
                transition: all 0.2s ease-in-out;
                cursor: pointer;
                border: 1px solid gray;
                border-radius: 9999px;
                padding: 0.5rem 1rem;
                font-weight: 900;
                font-size: 0.75rem;

                &:hover {
                    background-color: $gray;
                }

                *:first-child {
                    margin-right: 0.3rem;
                }
            }
        }
        &__chart {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 60%;

            > div {
                width: 100%;
                height: 100%;
            }
        }
    }
}

.chart {
    display: flex;
    flex-direction: column;
    width: 75%;
    height: 100%;

    > :first-child {
        display: flex;
        justify-content: space-between;
        align-items: start;
        padding: 2rem;

        > :first-child {
            h5 {
                opacity: 0.5;
                font-weight: 900;
                font-size: 1.5rem;
            }

            h6 {
                font-size: 4rem;
            }

            p {
                opacity: 0.5;
                font-weight: 900;
                font-size: 0.75rem;
            }
        }

        > :nth-child(2) {
            grid-gap: 1rem;
            display: grid;
            grid-template-rows: repeat(3, 1fr);
            grid-template-columns: repeat(2, 1fr);

            p {
                color: #828282;
                font-weight: 900;
                font-size: 0.75rem;

                span {
                    margin-left: 1rem;
                    color: black;
                }
            }
        }

        > button {
            transition: all 0.2s ease-in-out;
            cursor: pointer;
            border-radius: 9999px;
            padding: 0.5rem 1rem;
            font-weight: 900;
            font-size: 0.75rem;

            &:hover {
                background-color: $green;
            }
        }
    }

    > :last-child {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;

        * {
            width: 100%;
            height: 100%;
            overflow: hidden;
        }
    }
}
